<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alerts</title>
    <link rel="stylesheet" href="../web_st/static/styles/alerts.css">
    <script src="../static/scripts/alerts.js"></script>
</head>
<body>
    <div class="dashboard-container">
        <aside class="side-panel">
            <div class="panel-content">
                <ul>
                    <li><a href="#" onclick="loadPage('create-alert')">Create Alert</a></li>
                    <li><a href="#" onclick="loadPage('my-reports')">My Reports</a></li>
                </ul>
            </div>
        </aside>
    </div>
    <div class="divider"></div>
    <main>
        <div class="container">
            <h1>Crime Alerts</h1>
            <div class="lists-alerts" id="alertsList">
                <!-- Alerts -->
            </div>
        </div>
        <div id="side-panel" class="side-panel">
            <div class="panel-content">
                <span class="close-button" onclick="closePanel()">&times;</span>
                <h2>View details</h2>
                <div id="details-content">
                    <!-- Details -->
                </div>
            </div>
        </div>
    </main>
</body>
</html>